/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 30px;
  height: 30px;
  display: none;
  margin: 20px auto 40px;
  position: relative;
  border: 3px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 3px;
  height: 20px;
  background: #000;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -18px;
  left: 30px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }

  25% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  75% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, -10px);
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  width: 272px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4e75ff;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  color: #fff;
  border: none;
  background-color: #4e75ff;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.g-item {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 260px;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 6px 12px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

.g-item:hover {
  transform: scale(1.05);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.18),
    0 6px 12px rgba(0, 0, 0, 0.5),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.g-img {
  width: 360px;
  height: 212px;
}

.g-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4px;
  padding-bottom: 2px;
  box-shadow:
    inset 0 -2px 4px rgba(108, 108, 160, 0.05),
    inset 0 -4px 8px rgba(108, 108, 160, 0.08),
    inset 0 -6px 12px rgba(108, 108, 160, 0.1),
    inset 0 -8px 16px rgba(108, 108, 160, 0.15);
}

.text {
  font-weight: 400;
  font-size: 12px;
}

.num {
  font-weight: 200;
}

.g-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  display: none;
  margin: 35px auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.end-message{
  margin: 30px auto;
}